@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    margin: 0;
}
#header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    font-size: 20px;
    }

header div{
    display: flex;
}

#meusPedidos{
margin-right: 15px;
}

#sejaBemVindo{
    text-decoration:none;
    color: white;
}

#navegacao {
    border: 1px solid black ;
    margin: 25px 20px 50px 20px;
    display: flex ;
    justify-content: space-around; 
    height: 65px;
}

#navegacao h1 {
    font-family: 'Great Vibes';
    font-size: 40px;
}

#navegacao input {
    height: 30px;
    margin-top: 5px;
}

#navegacao a img {         /*Img do carrinho*/
    width: 35px;
    height: 35px;
    margin-top: 5px;
}


#destaque img {
    margin-left: 100px;
    width: 1365px;
    text-align: center;
    box-shadow: 5px 5px 15px 5px #000000 ;
}

.produtos {
    border: 1px solid black; 
    margin: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #000000;
}

.produtos .coluna-1 {
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}

.produtos .coluna-2 {
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.produtos .coluna-1 .primeiro {
    border: 1px solid black;
}

.produtos .coluna-1 .segundo {
    border: 1px solid black;
}

.produtos .coluna-1 .terceiro {
    border: 1px solid black;
}

.produtos .coluna-2 .primeiro {
    border: 1px solid black;
}

.produtos .coluna-2 .segundo {
    border: 1px solid black;
}

.produtos .coluna-2 .terceiro {
    border: 1px solid black;
}


footer {
    color: white;
    background-color: black;
    margin:0px;
    border: 1px solid black;
    padding: 10px;
   
}

footer img {
    margin-left: 10px;
}

footer .novo-usuario {
    color: black;
    background-color: white;
    display: block;
    padding: 10px;
    border-radius: 10px;
    float: right;
    z-index: 99;
}

#botao-topo {
    background: none;
    border: none;
    bottom: 20px; 
    cursor: pointer;
    display: none;
    outline: none;
    padding: 15px;
    position: fixed; 
    right: 10px; 
    background-color: black;
    border-radius: 10px;

}