
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    background-color:  #212529;
}

/*Headr ---------------------------------------------------------------------*/

.text-link {
    text-decoration: none;
    color: white;
}
.text-link-black {
    text-decoration: none;
    color: black;
}
.carrinho{
    height: 2.2rem;
    width: 2rem;
    background-color: #212529;
    margin-right: 0.5rem;
}
.menu-botton {
    height: 2.2rem;
    width: 2rem;
    border: solid white 1px;
    border-radius: 5px;
    margin-left: 0.5em;
}


/* Carrosel ------------------------------------------------------------------*/

.img-carousel {
    width: 100%;
    max-height: 60vh; 
}


/* FOOTER -------------------------------------------------------------------- */

.text-color-itens {
    --bs-text-opacity: 1;
    color: rgb(212, 212, 212);
}

.text-color-titles {
    color: white;
}

.background-white {
    background-color: white;
    border: white solid 10px;
}

.background-gray {
    background-color:  #212529;
}


.background-black{
    background-color: black;
}


/* Arrumando as roupas */
.texto-roupas {
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #030303;
}
.card-text {
    display: flex;
    justify-content: center;
}

.Tamanho-da-camisa-no-card{
    width: 200px;
    height: 200px;
}
